/* :root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  } */


  body {
    margin-top: 6vh;
    font-family: 'Maven Pro';
  }

.container {
  height: 94vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /*for firefox*/
}

/* home page styling */




/* splash page styling */
.background-img {
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7efe7;
  /* position:relative;
  top: 6vh; */
}

/* store Styling */

.Store {
  height: 94vh;
  background-color: #f7efe7;
}

