.sideDrawer {
  height: 93.5vh;
  transform: scaleX(100%);
  background: white;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 6.5vh;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transition: transform 200ms;
  transform-origin: right;
}

.drawerClosed {
  transform: scaleX(0);
  overflow: hidden;
}

.store_items {
  display: flex;
  flex-direction:column;
  margin: 0 2rem;
}
 

.totalsContainer {
  display:flex;
 justify-content: space-between;
 margin: 0 2rem;

}


.checkout_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout_btn button {
  width: 80%;
  padding: .5rem;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}




