/* footer styling */
footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003941;
    color: #fff;
  }
  
  .footer_btn {
    border:0;
    background-color: #000;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    /* width: 8rem; */
    /* height: 4vh; */
  }

  .department_name {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 3rem;;
  }